#wrapper {
	padding: 0;
}
#footer  {
  padding-bottom: 0;
}

#logo {
    max-width: 323px;
}

#content {
	margin-top: 12px;
	padding-top: 22px;
	border-top: 1px solid #cccccc;
}

.entry img, img.thumbnail, #portfolio .group.portfolio-img img {
  border: none;
  padding: 0;
}

a:active,
a:focus {
  outline: none;
  -moz-outline-style: none;
}

img {
  height: auto;
}

#navigation {
  width: 67%;
  float: right;
  margin-top: -25px;
  margin-bottom: 30px;
  padding: 5px 0 4px 0;
}


.single #navigation {
	margin-bottom: 0.6em;
}

#navigation ul.nav > li a:hover, #navigation ul.nav li ul, #navigation ul.cart > li:hover, #navigation ul.cart > li > ul > div {
  text-decoration: underline !important;
}

ul.nav li a {
    padding: 0 0.5em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer a {
  color: #6D6E70;
}

#sidebar-alt img {
  width: 100% !important;
}

#main-sidebar-container .widget_facebookpagefeedwidget img {
	width: auto !important;
}

#sidebar-alt img.sponsored {
  clear: both;
  width: 50% !important;
}

#main-sidebar-container #comments img {
  width: auto !important;
}

#main-sidebar-container ul.related_post li a {
	font-weight: bold;
}

.searchform, #searchform {
  margin-top: 0;
}

#navigation ul.nav-search > li > a {
  padding: 0.35em 0.45em 0.3em 0.3em;
  font-size: 13px;
}

.searchform input.s, #searchform input#s,
.searchform button.submit {
  color: #000000;
}

.searchform .icon-search::before {
	color: #ffffff;
}

.searchform .icon-search:hover {
	color: #cccccc;
}

#navigation .widget_search {
	border: 1px solid #cccccc;
}

.fblikes {
	margin-left: 10px !important;
}

#navigation .menus.nav-icons-2 #main-nav {
  margin-right: 4em;
}

#navigation .menus.nav-icons-2 .side-nav {
  width: 3.2em;
}

#navigation ul.rss {
  float: left;
  width: 1.5em;
}

#navigation ul.nav-search a.search-contents,
#navigation ul.rss li a {
  padding: 0.1em;
}

#navigation ul.rss li a::before {
    line-height: 1.1;
}

#main-nav.fl {
    float: right;
}

#navigation ul.rss li.sub-email a::before {
  font-size: 16px;
}

/*------------- widgets -------------- */

#sidebar-alt .widget h3.rpwe-title,
.related_posts_rpw_main_content p {
  font-size: 16px;
  text-transform: none;
  margin: 5px 0 10px 0 !important;
  font-weight: bold;
}


h1.archive_header {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 0.14em;
}

#sidebar .widget h3.rpwe-title {
  padding: 5px;
  text-transform: none;
  font-size: 16px;
  text-align: center;
}

#sidebar .widget h3.rpwe-title a {
	color: #666666;
	font-weight: normal;
}

.single #sidebar hr {
	color: #e62e87;
	background-color: #e62e87;
	height: 2px;
}

#main-sidebar-container #text-3,
#main-sidebar-container #text-7,
#main-sidebar-container .widget.widget_text,
img.snapchat {
  margin-bottom: 10px;
}

#sidebar .widget_recent_entries li {
	min-height: 300px;
}

#sidebar .widget_recent_entries h3,
.widget_wmpoe_widget h3 {
  display: none;
}

.widget_wmpoe_widget h3.onpost,
.postgrid h3.onpost {
  position: absolute;
  bottom: 25px;
  background-color: #ffffff;
  font-size: 16px !important;
  max-width: 90%;
  text-transform: uppercase;
  color: #000000 !important;
  z-index: 100;
  display: block;
  font-weight: normal;
  letter-spacing: 0.08em;
  padding: 0.3em;
  font-family: 'Quicksand', sans-serif !important;
}

.widget_wmpoe_widget img:hover,
.widget_wmpoe_widget a:hover h3,
.postgrid img:hover,
.postgrid a:hover h3,
ol.wpp-list > li a img:hover,
.wit-tab-title  {
	filter:alpha(opacity=1);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
}

.widget_wmpoe_widget a:hover img,
.postgrid a:hover img,
ol.wpp-list > li:hover {
  filter:alpha(opacity=0.4);
  -moz-opacity:0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

.widget.widget_recent_entries p {
margin: 0;
padding: 0 20px;
text-align: center;
font-size: 12px;
line-height: 1.4em;
}

img.playbutton {
	width: 66px !important;
	position: absolute;
	margin-left: 127px;
	margin-top: 60px;
}

img.reallyhot {
	margin-top: 20px;
}

.widget_wmpoe_widget h3.rpwe-title {
	display: block;
}

.widget_wmpoe_widget ul {
	list-style: decimal inside;
}

.widget_wmpoe_widget li {
	font-weight: bold;
	font-size: 22px;
}

.widget_wmpoe_widget ul {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

.widget_wmpoe_widget ul > li,
.widget_wmpoe_widget li .rank {
    position:relative; /* Create a positioning context */
    list-style:none; /* Disable the normal item numbering */
}

.widget_wmpoe_widget ul > li:before,
.widget_wmpoe_widget li .rank {
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    padding:6px 12px 8px 12px;
    color:#fff;
    background:#e62e87;
    font-weight:normal;
    left: 8px;
    top: 8px;
    border-radius: 30px;
}


.widget_wmpoe_widget ul > li:hover:before,
.widget_wmpoe_widget li .rank:hover {
	filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
}

.widget_wmpoe_widget.widget ul li a {
	line-height: 18px;
}

.widget_wmpoe_widget.widget ul li a:hover {
		filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
	z-index: 10000;
}

a img:hover {
	filter:alpha(opacity=30);
  -moz-opacity:0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}

.header-widget {
    position: absolute;
    right: 0;
    top: 30px;
}

.header-widget .widget {
  margin-top: 0;
}

.header-widget .widget.widget_text {
  margin-top: 25px;
}

.header-widget .social-icons {
  margin: 0 0 0 10px;
}

.header-widget .social-icons img {
	height: 35px;
	width: 35px;
}

#main-sidebar-container .social-icons,
#sidebar-alt .social-icons {
	width: 24px;
  height: 24px;
  background-size: 24px 24px;
  margin: 0 0 0 3px;
}

.widget_baba h3,
a.addtoany_share_save {
	display: none;
}

#navsearch {
  float: right;
}

#main-sidebar-container .widget_baba,
#sidebar-alt .widget_baba {
	background-image: url(../reallyree/images/connectwith.jpg);
	background-size: 100% auto;
	float: left;
	width: 100%;
	min-height: 100px;
	background-repeat: no-repeat;
	padding-bottom: 10px;
  border-bottom: 2px solid #e62e87;
  margin-bottom: 10px;
}

#main-sidebar-container .widget_baba ul,
#sidebar-alt .widget_baba ul {
	margin-top: 70px;
	float: right;
}

.single #sidebar h3 {
	padding-bottom: 0;
}

.widget ul,
li.widget_ultimate_posts {
  list-style-type: none;
  list-style-position: outside;
}

#sidebar-alt .widget h3.rpwe-title {
    border-bottom: medium none;
    border-top: medium none;
}

.widget_wmp_widget li,
.widget_wmpoe_widget li,
#sidebar .widget_recent_entries li {
   margin-bottom: 30px;
   margin-top: 5px;
}

#sidebar .widget_recent_entries li {
   border: 1px solid #cccccc;
}

#recent-posts-plus-4.widget_recent_entries li {
   border-bottom: none;
   margin-bottom: 10px;
}

#headersocialicons li.widget_baba {
	list-style-type: none;
	margin-top: 0;
}

#sidebar .widget_recent_entries h3.rpwe-title,
#recent-posts-plus-2 h3.rpwe-title {
  display: block;
}

.widget.widget_woo_search {
	margin-bottom: 20px;
}

.searchform, #searchform {
    border-color: #cccccc;
    background-color: #e62e87;
}


#sidebar-alt .widget_text {
  margin-bottom: 10px;
}

.icon-search.submit {
  box-shadow: 0 0 0 0 #ffffff;
}

.searchform button.submit {
  top: 0;
  right: 0;
  width: 31px;
}

.searchform input.s, #searchform input#s {
	width: 84%;
	background-color: #ffffff;
	border-radius: 0;
}

.searchform .icon-search::before {
	 
	 font-size: 23px;
}


.minitweets {
  float: none;
}

.minitweets-end {
  display: none;
}

.instagram-badges {
  float: right;
  z-index: 100;
}

.header-widget .widget_text {
	float: left;
	margin: 13px 13px 0 13px;
}

.mr_social_sharing a.linksalpha_link {
    display: none !important;
}

div.mr_social_sharing, 
span.mr_social_sharing, 
div.mr_social_sharing_top, 
span.mr_social_sharing_top {
  margin: 0 7px 0 0;
}

.related_posts_rpw_main_image {
	margin: 0;
}

#related_posts_rpw li img {
	width: 100%;
	height: auto;
	border: none;
	padding: 0;
	margin-right: 0;
	margin-bottom: 5px;
}

.wpp-list li {
  margin-bottom: 20px;
  font-weight: bold;
}

#sidebar .widget_wmpoe_widget li img {
	width: 100%;
}

.widget_recent_entries img.sponsored {
	width: 30% !important;
	margin-top: 5px;
}

.widget {
	margin-bottom: 0;
}

#recent-posts-plus-4 h3,
#recent-posts-plus-5 h3,
#recent-posts-plus-9 h3,
#recent-posts-plus-10 h3  {
	display: none;
}

#recent-posts-plus-4 h3.rpwe-title,
#recent-posts-plus-5 h3.rpwe-title,
#recent-posts-plus-9 h3.rpwe-title,
#recent-posts-plus-10 h3.rpwe-title {
	display: block;
}

#sidebar-alt .widget_recent_entries h3.vid {
	font-size: 16px;
	display: inline;
	text-transform: none;
}

#sidebar-alt .widget_recent_entries li {
	border: none;
	margin: 0;
}

#signup {
	margin-top: 10px;
}

#sidebar-alt img,
.three-col-left.single #main-sidebar-container #main,
.three-col-left.single #main-sidebar-container #sidebar,
#sidebar .widget_recent_entries img {
	width: 100%;
}

#sidebar .widget_recent_entries .ajax-loader img,
#sidebar-alt .widget_recent_entries .ajax-loader img {
	width: auto !important;
}

ul.instagram-pics li {
  float: left;
  width: 24%;
  margin-right: 1.3333333333333333%;
  margin-bottom: 1.3333333333333333%;
}

ul.instagram-pics li:nth-child(4n){
  margin-right: 0
}

.null-instagram-feed p.clear {
  height: auto;
  font-weight: bold;
}

#sidebar .null-instagram-feed h3 {
  text-transform: none;
  font-size: 20px;
  padding-bottom: 2px;
}

.elm-rating-wrapper {
  float: right;
  width: 133px;
  height: 133px;
  background-image: url(http://images.reallyree.com/wp-content/themes/reallyree/images/ReallyRate-x2.png);
  background-size: 100%;
}

.elm-rating-wrapper .elm-rating,
.elm-rating-wrapper .elm-rating-readonly {
  margin-top: 66px;
  margin-left: 25px;
  -ms-transform: rotate(340deg); /* IE 9 */
    -webkit-transform: rotate(340deg); /* Chrome, Safari, Opera */
    transform: rotate(340deg);
}

.elm-rating-wrapper .elm-rating .elm-rating-readonly {
  margin-top: 0;
  margin-left: 0;
  -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.modal-stars {
  padding: 20px 0 0 30px !important;
}

.addtoany_share_save_container,
.mr_social_sharing_wrapper  {
  text-align: center;
}

.fb-like {
  padding-top: 20px;
}

.reallytitle {
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	padding: 15px 0 5px 0;
}

.reallytitle img {
	height: 40px;
	width: auto;
}

.null-instagram-feed p {
	font-family: "Quicksand",arial,sans-serif !important;
	text-align: center;
}

#homehooks li,
#singlerecents li,
#homehooksresponsive li,
.tab-content li {
	list-style: none;
}

#homehooksresponsive {
  display: none !important;
}

ol.wpp-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    padding: 0;
    counter-reset: li-counter;
}

ol.wpp-list > li{
    margin-bottom: 35px;
    min-height: 3em;
    position: relative;
    height: 212px;
    list-style-position: inside;
}

ol.wpp-list > li:before {
    font-size: 1.2em;
    line-height: 1;
    content: counter(li-counter);
    counter-increment: li-counter;
    list-style-position: inside;
    position: absolute;
    z-index: 100;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    padding:6px 13px 8px 13px;
    color:#fff;
    background:#e62e87;
    font-weight:normal;
    left: 8px;
    top: 8px;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif !important;

}

ol.wpp-list li span.wpp-stats { display:block; }

ol.wpp-list > li a.wpp-post-title {
	position: absolute;
	z-index: 10;
  bottom: 25px;
  background-color: #ffffff;
  font-size: 16px !important;
  max-width: 90%;
  text-transform: uppercase;
  color: #000000 !important;
  display: block;
  font-weight: normal;
  letter-spacing: 0.08em;
  padding: 0.3em;
  font-family: 'Quicksand', sans-serif !important;

}

ol.wpp-list > li a.wpp-post-title:hover {
	text-decoration: none;
}

ol.wpp-list > li img {
	position: absolute;
}

.widget_widgets_in_tabs .ps-scrollbar-x-rail {
	display: none;
}

.wp-tabbed-tabs .wp-tabbed-nav {
	background-color: #ffffff !important;
	font-family: 'Quicksand', sans-serif !important;
}

.wp-tabbed-tabs .wp-tabbed-nav li {
	width: auto !important;
	min-width: 19.5% !important;
	background-color: #000000 !important;
	height: 29px !important;
	border-top: 5px solid #000000;
}

.wp-tabbed-tabs .wp-tabbed-nav li a {
   border-left: 1px solid #bbbbbb !important;
   padding: 0 6px 4px 6px !important;
   font-size: 14px !important;
}

.wp-tabbed-tabs .wp-tabbed-nav li:nth-child(5n-4) a {
	border-left: 0px solid red !important;
}

.wp-tabbed-tabs .wp-tabbed-nav li a:hover,
.wp-tabbed-tabs .wp-tabbed-nav li.tab-active a {
	text-decoration: none !important;
	background-color: #ffffff;
	color: #666666 !important;
}

.popular-posts .wpp-thumbnail {
	margin-right: 0;
	width: 100%;
}

.widget_wpsm_tabs_r_widget_id h3,
.popular-posts h1,
.tab-content h2.widgettitle {
  display: none;
}

.tab-content {
  padding: 15px 0 0 0 !important;
}

.feedburner-email-subscription {
	border: 1px solid #e62e87;
	padding: 1% 3% 0 3%;
	margin-bottom: 10px;
}

.feedburner-email-subscription h3 {
	padding-bottom: 0;
}

.feedburner-email-subscription .btn-default {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

.feedburner-email-subscription .btn-default:hover {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #000000;
}

.feedburner-email-subscription .btn {
	border-radius: 0;
	text-transform: uppercase;
	font-family: "Quicksand",sans-serif !important;
}

/*--------- end widgets -------------- */

h1.archive_header {
  padding-top: 3px;
  margin-bottom: 5px;
}

.archive h1.archive_header {
	padding-top: 0;
}

img.rpwe-thumb {
  margin: 10px 0 0 0;
}

/*------------  blog  ----------------- */

#post-author,
.post-entries,
#null-instagram-feed-3 h3 {
  display: none;
  text-transform: uppercase;
  font-size: 28px;
}

#hometitle {
	padding: 6px 0 5px 0;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin-top: 30px;
}

#hometitle img {
	width: 48.5%;
	padding-left: 1.7%;
}

#hometitle a#db img {
	width: 43.7%;
	padding-left: 0;
}

#hometitle a#db {
	padding-right: 2.8%;
}

.pipe {
	font-size: 62px;
	font-weight: lighter;
	color: #dddddd;
}

.three-col-left .post img.woo-image {
  width: 30%;
  margin-bottom: 0;
}

.three-col-left .post {
  margin-bottom: 30px;
}

.page-title, .post .title, .page .title, .beauty-offers .title {
  margin-bottom: 0;
  padding-bottom: 8px;
}

.post .title a {
	padding-top: 5px;
}

.three-col-left.blog .post .title {
  padding-bottom: 4px;
  padding-top: 2px;
}

.page-id-14509.page.three-col-left .entry,
.page-id-32438.page.three-col-left .entry {
	float: none;
	width: auto;
}

.three-col-left .post p {
  line-height: 16px;
  margin: 4px 0;
  font-size: 16px;
}

.single.three-col-left p {
	margin: 0 0 20px 0;
	line-height: 24px;
}

.postmeta,
.mr_social_sharing_wrapper {
	text-transform: uppercase;
}

.postmeta,
.postmeta a {
  color: #cccccc;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.postmeta a:hover {
  color: #000000;
}

.postmeta .postauthor,
.postmeta .postauthor a {
	color: #666666;
}

.postmeta .postauthor,
.postmeta .timeago {
  margin-right: 10px;
}

#homeheader {
  padding-bottom: 22px;
}

#adventslider {
  margin-top: 30px;
}

#homeheaderleft,
.archive #hometitle {
  width: 100%;
  overflow: hidden;
  display: none;
}

.home #homeheaderleft,
.home #adventslider,
.home .viewmore,
.archive .viewmore,
.archive.category-daily-beauty #hometitle {
	display: block;
}

.archive.category-daily-beauty #hometitle,
.home.paged #hometitle  {
  margin-top: 0;
}

.viewmore a {
	color: #333333;
}

#homeheaderleft .soliloquy-container,
#adventslider .soliloquy-container {
  border: 1px solid #333333;
}

#homeheaderleft .soliloquy-container .soliloquy-caption-inside,
#adventslider .soliloquy-container .soliloquy-caption-inside {
    background: #ffffff !important;
    padding: 0 !important;
}

#homeheaderleft .soliloquy-fc-slider .soliloquy-caption,
#adventslider .soliloquy-fc-slider .soliloquy-caption {
    bottom: 8.5% !important;
    right: auto !important;
    top: auto !important;
    width: 60% !important;
}

#homeheaderleft .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title, 
#homeheaderleft .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title-link,
#adventslider .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title, 
#adventslider .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title-link {
    font-size: 24px !important;
    margin-bottom: 0 !important;
    line-height: 1.2em;
    text-align: left;
}

.soliloquy-fc-slider .soliloquy-caption a,
.soliloquy-theme-classic .soliloquy-caption .soliloquy-fc-caption .soliloquy-fc-title a {
	display: block;
	padding: 10px !important;
}

.soliloquy-container .soliloquy-pager {
    bottom: 0 !important;
    background-color: none;
    margin: 0 !important;
    text-align: center !important;
}

.soliloquy-container .soliloquy-prev,
.soliloquy-container .soliloquy-next,
.soliloquy-theme-classic .soliloquy-next,
.soliloquy-theme-classic .soliloquy-prev {
    background-color: rgba(0, 0, 0, 0) !important;
    width: 42px !important;
}

.soliloquy-container .soliloquy-prev,
.soliloquy-theme-classic .soliloquy-prev  {
    left: 0 !important;
}

.soliloquy-container .soliloquy-next,
.soliloquy-theme-classic .soliloquy-next {
    right: 0 !important;
}

#homeheaderright .soliloquy-container .soliloquy-caption {
	position: relative !important;
}

#homeheaderright .soliloquy-container .soliloquy-caption-inside {
	background: none !important;
}

.soliloquy-theme-classic .soliloquy-next,
.soliloquy-theme-classic .soliloquy-prev {
    background: url("images/arrow-right.gif") no-repeat scroll 50% 50% rgba(0, 0, 0, 0) !important;
    display: block !important;
    height: 52px !important;
    position: absolute !important;
}

.soliloquy-theme-classic .soliloquy-prev {
  background-image: url("images/arrow-left.gif") !important;
}

.soliloquy-theme-classic .soliloquy-pager-item {
	margin-left: 0 !important;
}

#homeheaderright .soliloquy-theme-classic .soliloquy-caption .soliloquy-fc-caption .soliloquy-fc-title,
#homeheaderright .soliloquy-theme-classic .soliloquy-caption .soliloquy-fc-caption .soliloquy-fc-title a {
	color: #e62e87;
	font-size: 20px;
}

#homeheaderright .soliloquy-theme-classic .soliloquy-prev,
#homeheaderright .soliloquy-theme-classic .soliloquy-next {
	top: 60px !important;
	bottom: auto;
}

#homeheaderleft h3 a,
#homeheaderleft h2 a,
#adventslider h3 a,
#adventslider h2 a {
  color: #555555;
  text-decoration: none;
  font-weight: normal;
}

#homeheaderright {
float: right;
  max-width: 42.2%;
}

#homeheaderright h3 {
	margin: 5px 0;
}

#homeheader img,
#adventslider img
#text-35 img {
  width: 100%;
}

#homeheader img.sponsoredsmall {
  width: 25%;
}

.blog.three-col-left .post p,
.archive.three-col-left .post p,
.page .entry p {
	font-size: 14px !important;
}

.page .entry p {
	text-align: justify;
}

.page.three-col-left .entry p {
	text-align: left;
}

.home .entry p,
.archive .entry p,
.page .post .entry {
	margin-bottom: 0;
	line-height: 1.3em;
}

.archive.post-type-archive-beauty-offers .entry p {
  margin-bottom: 1.2em;
}

.viewmore a {
	font-size: 12px;
	font-weight: bold;
}

.dontmissout {
	width: 20.3%;
	float: right;
}

.dontmissout img {
    width: 100%;
}

.blog .entry,
.page .post .entry,
.archive .entry {
  margin-left: 32%;
}

.blog h2.title {
  margin-left: 31.5%;
}

.thumbnail {
	border-radius: 0 !important;
}

/*----------- end blog  ----------------- */

/*------------ posts ----------------- */

.single #hometitle {
	margin-top: 0;
}

h1.title,
h2.title {
  font-size: 28px !important;
  font-weight: normal !important;
  font-family: GuadalupeProGota-Italic !important;
}

.post-type-archive-beauty-offers h2.title {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 24px !important;
}

.post-type-archive-beauty-offers ol.commentlist {
	padding-left: 0;
}

h2.title a:hover {
	text-decoration: none;
	color: #cccccc !important;
}

.page-title, .post .title, .page .title,
.post .title a:link, .post .title a:visited, .page .title a:link, .page .title a:visited,
.beauty-offers .title a:link, .beauty-offers .title a:visited,
.archive_header,
.singlerecentpost a,
.post-type-archive h2 {
  color: #333333;
}

.post-type-archive h2 {
	line-height: 1.1em;
}

.singlerecentpost {
	margin-top: 20px;
}

.entry table td, .entry table th {
  padding: 0;
  border: none;
}

.post {
  margin-bottom: 0;
}

.single .post img.woo-image {
  width: 100%;
}

img.attachment-post_thumb {
  margin: 10px 0;
}

hr {
    border-top: 1px solid #cccccc;
    height: 1px;
    margin-bottom: 0;
}

.postmeta hr {
	margin-bottom: 20px;
}

#comments {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.single .homelower,
.blog #main .sponsoredby,
.blog #main .subhead,
.single .date,
.single #homehooks #morefrom,
.single #homehooks .pink-hr,
.single #finalpink,
.single-post #homehooks,
.single-post .hidesingle,
.single-post .viewmore#inpost,
#commentform .wp-social-login-widget,
.comment-rating,
.archive.category-daily-beauty #homehooks {
	display: none;
}

.single .entry table {
	border: none;
}

.single .entry img {
	margin-top: 20px;
	width: 100% !important;
}

.single .entry .textwidget img {
	margin-top: 0 !important;
}

#main-sidebar-container #main #singlerecents .widget.widget_text {
	margin-bottom: 0 !important;
}

.single .entry img.fixed-size {
	width: auto !important;
}

.single .entry .profileimage img,
.single .entry img.sharelogo {
	margin-top: 0;
	width: auto !important;
}



.single .entry img.narrow,
#singlerecents img.pink-hr,
#singlerecents img#morefrom {
	width: auto !important;
}

.blog img.woo-image,
.single .entry .singlerecentpost img,
.archive img.woo-image,
.beauty-offers img.wp-post-image {
	width: 26.923% !important;
	float: left;
	margin: 5px 4.615% 15px 0;
	border: 1px solid #333333;
}

.woo-pagination {
  margin-top: 20px;
}

.mr_social_sharing_wrapper .mr_social_sharing img {
	width: auto !important;
}

.single .entry .moi_rpp_2_small_excerpt img {
	width: 50% !important;
}

.single .entry .yarpp-related img,
.single .entry img.sponsored {
	margin-top: 0;
}

.entry .wp-caption {
	background: none;
	border: none;
}

.single .entry .related_post img {
	width: auto !important;
}

h3#morefrom {
	text-align: center;
	margin: 10px 0 20px 0;
	font-size: 14px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 10px 0;
}

h3#morefrom a {
		color: #e62e87;
}

.shopblock {
	margin-top: 10px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #f9f9f9;
	padding: 20px 0;
	margin-bottom: 20px;
}

#reallyshop {
	float: left;
	border-right: 1px solid #cccccc;
	padding: 0 2%;
}

.shopblock p {
	width: 70%;
	font: 14px/1.5em "Quicksand",arial,sans-serif;
}

.shopblock h2,
h3.widgetheader {
	color: #e62e87;
	font-size: 34px;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 1em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 12px 0 8px 0;
}

.shopblock h2 span.really,
h3.widgetheader span.really {
	color: #000000;
	font-family: GuadalupeProGota-Italic, serif;	
}

h3.widgetheader a {
display: block;
}

h3.widgetheader a:hover {
  text-decoration: none;
    filter:alpha(opacity=0.4);
  -moz-opacity:0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}

.entry .wp-caption-text {
	font-family: "Quicksand",arial,sans-serif !important;
	font-weight: normal !important;
}

#reallyrating {
float: left;
	padding: 0 2%;
}

.findoutmore a {
	background-color: #000000;
	color: #ffffff;
	padding: 2px 8px;
	font-size: 14px;
}

.findoutmore a:hover {
	background-color: #cccccc;
	text-decoration: none;
}

.findoutmore {
	margin-bottom: 10px;
}

#sidebar .textwidget .shopblock {
	padding: 10px 0 5px 0;
}

#sidebar .textwidget h2 span.really {
	color: #e62e87;
	padding-left: 5px;
}

#sidebar .textwidget h2 {
	line-height: 50px;
	font-size: 50px;
	vertical-align: bottom;
}

#sidebar .textwidget .shopblock h4 {
	font-family: GuadalupeProGota-Italic, serif;
	padding-left: 5px;
	font-size: 30px;
	font-weight: normal;
}

#sidebar .textwidget .shopblock p {
	margin-bottom: 0;
	font-weight: bold;
	color: #000000;
	padding-left: 5px;
}

.page h1.entry-title,
.page #main .widget_recent_entries h3,
.widget_ultimate_posts h2,
.widget_ultimate_posts h1.widget-title  {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 25px 0 12px 0;
}

.page h1.entry-title,
.page #main .widget_recent_entries h3,
.widget_ultimate_posts h2,
.widget_ultimate_posts h1.widget-title  {
	padding: 15px 0 0 0;
}

p.disclaimer {
	font-size: 12px;
}

.stripe {
  font-family: GuadalupeProGota-Italic;
  margin-top: 7px;
  margin-bottom: 13px;
  text-align: right;
  min-height: 1px;
}

.stripe a {
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  padding: 7px 7px 1px 7px;
}

.stripe a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #eeeeee;
}

.single .stripe {
	text-align: left;
}

.category-in-highlight .entry a:link, 
.category-in-highlight .entry a:visited {
	color: #000000;
	text-decoration: underline;
}

.category-in-highlight .entry a:link:hover, 
.category-in-highlight .entry a:visited:hover {
	text-decoration: none;
}


/*---------- end posts --------------- */


/*---------- postgrid - top rated and reallyshop --------------- */

ul.reallyrated {
	padding: 0;
	margin: 0;
}
li.postgrid {
	width: 49.23%;
	float: left;
	margin-right: 1.54%;
	margin-top: 1.54%;
	list-style-type: none;
}

li.postgrid img {
	width: 100%;
}

li.postgrid:nth-child(2n) {
	margin-right: 0;
}

.entry h3.onpost {
	margin-bottom: 0;
	line-height: 1.2em;
	bottom: 18px;
}

.page-id-28688 #homehooks,
.page-id-13979 #homehooks,
.page-id-28711 #homehooks,
.page-id-48705 #homehooks,
.page-id-48707 #homehooks,
.page-id-32373 #homehooks {
	display: none;
}

.page #main .widget_recent_entries h3 {
 	color: #333333;
 	font-family: GuadalupeProGota-Italic;
    font-size: 46px;
    font-weight: normal;
}

/*---------- end postgrid - top rated and reallyshop ----------- */


/*---------- tv page --------------- */

.tvpageheader,
.tvpostheader,
.category-reallyree-tv.archive .archive_header,
#float_feed_box,
.category-reallyree-tv.archive #hometitle,
.single .category-reallyree-tv #hometitle,
.page #hometitle,
.page .facebookconversation,
.home.paged #homeheaderleft,
.category-daily-beauty h1.archive_header {
	display: none;
}

.category-reallyree-tv.archive .tvpageheader {
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.category-reallyree-tv.archive #tvheader {
	display: block;
	width: 40%;
	padding: 10px 0;
}

/*--------- end tv page --------------- */

/*---------- meet the team page --------------- */

.teamhalf {
  width: 48.2%;
  float: left;
	margin-top: 20px;
}

#teamhalfree {
  margin-right: 3.6%; 
}

.teammember {
	position: relative;
	width: 40%;
	float: left;
	margin-right: 4.615%;
}

.teammember#teammemberree {
	width: 100%;
	float: none;
}

.page .teammember h3 {
	position: absolute;
	font-family: 'Quicksand', sans-serif !important;
	color: #000000;
	background-color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 4px 4px 4px 0 !important;
	line-height: 1.1em;
  font-weight: normal;
  z-index: 100;
  display: block;
  bottom: 0;
  margin-bottom: 0 !important;
}

.teammember img {
  width: 100%;
}

.teamtext h2 {
	font-family: GuadalupeProGota-Italic !important;
	font-size: 34px;
	margin-bottom: 0;
	line-height: 1em;
	color: #000000;
}

.teamtext p {
	line-height: 1.3em;
}

.teamtext {
	min-height: 285px;
	margin-left: 44%;
}

.teamcontact {
	margin-left: 44%;
	font-size: 14px;
}

#teamtextree,
#teamcontactree {
  margin-left: 0;
}

.teamtex#teamtextree {
	min-height: 50px;
}

.page .widget_ultimate_posts {
  margin-top: 20px;
}

.page-id-14019 #homehooks,
.page-id-52529 #homehooks,
.teamsidebar h3,
#contside .post-53122,
#contside .post-53123,
#contside .post-53124 {
  display: none;
}

.upw-before li {
  font-size: 14px;
  font-weight: normal;
}

.upw-before {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.upw-before ul {
  padding: 15px;
  list-style-type: disc;
}

.widget_ultimate_posts h3,
h1.archive_header {
  font-size: 46px !important;
	font-weight: normal !important;
  font-family: GuadalupeProGota-Italic !important;
  width: 100%;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	text-transform: none !important;
	padding: 15px 0 0;
	line-height: 1.1em;
	margin-bottom: 20px;
}

h1.archive_header {
  color: #000000;
  font-size: 34px !important;
  padding: 15px 0 7px 0 !important;
  margin-bottom: 0;
}

.widget_ultimate_posts #contside .contributors img {
  float: left;
  width: 100px;
  height: auto;
  margin-right: 30px;
}

#contside .type-contributors {
  min-height: 124px;
}

#contside .type-contributors.post-53122,
#contside .type-contributors.post-53123,
#contside .type-contributors.post-53124 {
  min-height: 0;
}

.widget_ultimate_posts .contributors h4 {
  font-size: 26px;
	font-weight: normal !important;
  font-family: GuadalupeProGota-Italic !important;
  padding: 2px 0 3px 0;
  margin-bottom: 0;
  line-height: 1em;
}

.widget_ultimate_posts .contributors h4 a,
.contributors footer a {
  color: #000000;
  font-weight: normal;
}

.contributors .entry-content,
.contributors .entry-summary,
.contributors footer {
  margin-left: 130px;
}

.widget.widget_ultimate_posts p {
  margin-bottom: 0.5em !important;
  font-weight: normal;
  line-height: 1.1em;
}

#contside.upw-posts article:last-child {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5em;
}

#teamwidget article {
  width: 24%;
  margin-right: 1.333333%;
  margin-bottom: 1.333333%;
  float: left;
  border-bottom: none;
  padding-bottom: 0;
}

#teamwidget article:nth-child(4n) {
margin-right: 0;
}

#teamwidget article img {
  width: 100%;
}

#contside article {
  width: 48.2%;
  float: left;
  margin-right: 3.6%
}

#contside article:nth-child(2n) {
  margin-right: 0;
}

.single-post .entry p a,
.single-post .entry ul li a {
	text-decoration: underline;
}

.single-post .entry p a:hover,
.single-post .entry ul li a:hover {
	text-decoration: none;
}


/*---------- end meet the team page --------------- */


/*---------- reallyhot ----------------- */

#sidebar li.reallyhot .excerpt,
#sidebar li.reallyhot .postmeta, {
	display: none;
}

#main li.reallyhot {
	clear: both;
	margin-bottom: 30px;
	min-height: 94px;
}

#main li.reallyhot .postmeta {
	padding-bottom: 30px;
}

#main li.reallyhot img {
	float: left;
	width: 30%;
	height: 98px;
	margin-right: 15px;
	margin-top: 6px;
}

.page .entry p {
	margin-bottom: 4px;
}

.page #main h3 {
	padding-bottom: 14px;
}

.page #main h3.onpost {
	padding: 0.3em;
}

#main li.reallyhot h3 {
	text-transform: none;
	margin: 0;
	padding-bottom: 4px;
	font-size:18px;
	color: #e62e87;
}

/*------ end reallyhot ----------------- */

/*----------brand sponsored pages --------------- */

.archive .facebookconversation {
	display: none;
}

.sponsoredby {
	margin: 20px 0;
}

.subhead {
	margin-top: -10px;
}

.subhead p {
  font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	color: #000000;
}

.facebookconversation {
	margin: 20px 0 0 0;
	clear: both;
	padding-top: 20px;
}

.facebookconversation h3 {
	font-weight: normal;
}

hr.facebookhr {
	margin: 0;
}

.two-col-left h1.entry-title,
.one-col h1.entry-title,
h1.archive_header .fl,
.widget_ultimate_posts h2,
.widget_ultimate_posts h1.widget-title {
	font-size: 46px !important;
	font-weight: normal !important;
  font-family: GuadalupeProGota-Italic !important;
  width: 100%;
  color: #333333;
}

.featuredpartner {
	font-size: 10px;
}

#main img.sponsored {
  width: 23% !important;
}

/*------- end brand sponsored pages --------------- */


/*-------- author profile --------------- */

ul.a-tab-nav {
  display: none !important;
}

#wpautbox-above {
  padding-top: 0;
}

.a-tab-container,
.wpautbox-socials {
  border: none !important;
}

.a-tab-content {
  padding: 0 !important;
  float: left;
  width: 50% !important;
}

#main-sidebar-container .profileimage img {
  width: 90px !important;
  height: auto;
  float: left;
  padding-right: 15px;
}

.wpautbox-socials {
  background: none;
  float: right;
  padding: 0;
}

.wpautbox-socials .wpautbox-icon {
  margin-right: 0;
}

.single .entry #wpautbox-above img {
	margin-top: 0;
}

.contributedby {
  display: none;
}

.single-post .category-contributed .contributedby {
  float: right;
  display: block;
}

/*----- end author profile --------------- */

.three-col-left #main-sidebar-container #main,
.three-col-left #main-sidebar-container #sidebar,
#sidebar-alt {
    border-top: 2px solid #ff0093;
}

/*---------- responsive --------------*/

/* ------ responsive menu ---------*/

.nav-toggle,
.bar_logo {
    display: none;
}

.widget_baba {
  float: right;
}

#sdrn_bar {
  font-family: 'Quicksand',arial,sans-serif;
  height: 80px;
  z-index: 1000;
}

#sdrn_menu_ul {
  border-top: 1px solid #e62e87;
  margin-top: 80px;
  z-index: 1000;
}

#sdrn_menu.sdrn_levels ul li a {
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Quicksand",arial,sans-serif;
}

#sdrn_s {
    border: none !important;
    padding-left: 0  !important;
    text-transform: uppercase;
    font-weight: bold;
}

#sdrn_menu.top {
	top: 40px;
}

@media only screen and (min-width: 960px) {
	li.mobileonly {
		display: none;
	}
}


@media only screen and (max-width: 959px) {
  #navigation {
  	display: none !important;
  }
  
 .bar_logo {
  	display: inline;
  }
  
  #logo,
  .header-widget {
  	display: none;
  }
  
  #sdrn_bar .bar_logo {
    height: 60px;
    position: relative;
    top: 20%;
    padding: 0;
	}
	
	.teamtext {
	 min-height: 50px;
}

/* --- end responsive menu ---------*/

@media only screen and (max-width: 1024px) {
	.blog .entry, .page.three-col-left .entry, .archive .entry {
    float: none;
    width: auto;
	}
	
		h3.related_post_title {
    	margin-left: 0;
		}

}

@media only screen and (max-width: 991px) {
  #logo {
  	width: 32%;
  }
  
  .header-widget {
  	margin-top: 16px;
  }
  
  .shopblock h2 {
  	font-size: 36px;
  }
  
}

@media only screen and (max-width: 947px) {
  
  .header-widget .social-icons {
  width: 45px;
  height: 45px;
  background-size: 45px 45px;
  margin: 0 0 0 10px;
	}
}

@media only screen and (max-width: 866px) {
  
  .header-widget .social-icons {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
	}
	
	.header-widget .widget.widget_text {
    margin-top: 15px;
	}
	
	h2.title {
		font-size: 20px !important;
	}
	
	.stripe {
	 margin-top: 4px;
	} 
	
	.stripe a {
	 font-size: 16px;
	}
	
	
	#homeheaderleft h3 .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title,
	#adventslider h3 .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title, 
	.soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title-link {
    font-size: 20px !important;
	}
	
  #reallyshop,
  #reallyrating {
	 width: 100%;
  }
  
  #reallyshop {
  	border-right: none;
  	border-bottom: 1px solid #cccccc;
  	padding-bottom: 20px;
  }
  
  #reallyrating {
  	padding-top: 20px;
  }
}

@media only screen and (max-width: 815px) {
  
  .header-widget .social-icons {
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  margin: 0 0 0 8px;
	}
	
		.widget_wmpoe_widget ul > li:before,
		#sidebar-alt .widget_wmpoe_widget li .rank {
    padding:0 7px 2px 6px;
    font-size: 15px;
	}
	
	#sidebar-alt .widget_baba ul {
    margin-top: 60px;
	}
	
	  .shopblock h2 {
  	font-size: 30px;
  }
  
  .pipe {
		font-size: 40px;
	}
}



@media only screen and (max-width: 800px) {
  .widget_wmpoe_widget li h3.desktop {
    display: none;
  }
  
  #sidebar .widget_wmpoe_widget li h3.responsive,
  #sidebar-alt .widget_wmpoe_widget li h3.responsive {
    display: inline;
    text-transform: none !important;
    font-size: 14px;
  }
  
  .widget_wmpoe_widget li {
    padding-bottom: 16px;
  }
  
  .widget_wmpoe_widget.widget ul li a {
    line-height: 14px;
  }
  
  #sidebar-alt .widget h3.rpwe-title {
    font-size: 14px;
  }
  
  #homeheaderright .soliloquy-theme-classic .soliloquy-prev,
  #homeheaderright .soliloquy-theme-classic .soliloquy-next {
	   top: 45px !important;
  }
  
  .two-col-left h1.entry-title,
  .one-col h1.entry-title,
  .widget_ultimate_posts h3,
  .widget_ultimate_posts h2,
  .widget_ultimate_posts h1.widget-title  {
  	font-size: 30px !important;
  }

}

@media only screen and (max-width: 769px) and (min-width: 479px) {

  .wp-tabbed-tabs .wp-tabbed-nav li a {
   padding: 0 4px 4px 4px !important;
   font-size: 11px !important;
  }

}

@media only screen and (max-width: 768px) {
	  #logo {
  	width: 30%;
  	float: left;
  }
  
  .header-widget {
  	clear: none !important;
  }
	
	h1.archive_header, .page h3,
	h2#hometitle, #post-author {
		font-size: 24px;
	}
	
	#sidebar h3,
	li.postgrid h3.onpost {
		font-size: 12px;
	}
	
	#sidebar h3.widgetheader {
	 font-size: 30px;
	}
	
	.three-col-left.single #main-sidebar-container #main {
    width:69.4915%;
	}

	.three-col-left.single #main-sidebar-container #sidebar {
    width: 28.8135%;
    margin-right: 0;
	}

	#sidebar-alt .widget_recent_entries h3.vid {
		font-size: 13px;
	}

	.wpuf-post-form .wpuf-richtext {
		width: 100%;
	}
	
	.wpuf-post-form input[type="text"] {
		width: 60%;
	}
	
	div.pp_default #pp_full_res img {
		width: auto !important;
	}
	
  .page .teammember h3 {
    max-width: 85%;
  }
}

@media only screen and (max-width: 725px) {
	  #logo {
  	width: 25%;
  }
  
  .header-widget .social-icons {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
	}
	
	.header-widget .widget.widget_text {
    margin-top: 7px;
	}
	
	  .header-widget {
  	margin-top: 10px;
  }
  
#homeheaderleft .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title, 
#homeheaderleft .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title-link,
#adventslider .soliloquy-theme-classic .soliloquy-caption .soliloquy-fc-caption .soliloquy-fc-title,
#adventslider .soliloquy-theme-classic .soliloquy-caption .soliloquy-fc-caption .soliloquy-fc-title a {
    font-size: 16px !important;
	}
	
	#sidebar-alt .widget_wmpoe_widget li h3 {
		font-size: 10px;
	}
	
	#sidebar-alt .widget_wmpoe_widget.widget ul li a {
		line-height: 14px;
	}

}

@media only screen and (min-width: 651px) {

  #content.col-full #main-sidebar-container #main.col-left,
  #content.col-full #main-sidebar-container #main,
  body.two-col-left-1000 #main-sidebar-container #main {
      width: 64.89%;
      float: left;
  }
  
  .page-id-32373 #content.col-full #main-sidebar-container #main,
  .one-col #content.col-full #main-sidebar-container #main {
  	width: 100%;
  }
  
  #content.col-full #main-sidebar-container #sidebar {
  	float: right;
  	width: 31.91%;
  	clear: none;
  	margin-top: 0;
  }
}

@media only screen and (max-width: 650px) {
  
  .header-widget .social-icons {
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  margin-left: 10px;
	}
	
	.header-widget .widget.widget_text {
    margin-top: 12px;
	}
  
  #sidebar h3, #sidebar-alt h3, h1.archive_header, .page h3,
	h2#hometitle, #post-author {
		font-size: 20px;
	}
	
	#sidebar-alt .widget_wmpoe_widget li h3 {
		font-size: 9px;
	}
	
	#sidebar-alt .widget_wmpoe_widget.widget ul li a {
		line-height: 12px;
	}
	
	#sidebar-alt .widget_baba ul {
    margin-top: 50px;
	}
	
	.blog .entry p,
	.woo-pagination .prev,
	#homehooks,
	.widget_ultimate_posts h3 {
		display: none !important;
	}
	
	.home #homehooksresponsive,
	.archive #homehooksresponsive {
	 display: block !important;
	}
	
	.home h3#morefrom,
	.archive h3#morefrom {
	 border-top: 1px solid #cccccc;
	 padding-top: 10px;
  }
  
  .page-id-14019 #sidebar,
  .page-id-52529 #sidebar {
    margin-top: 0;
  }
  
}


@media only screen and (max-width: 601px) {

.soliloquy-container .soliloquy-caption, .soliloquy-container .soliloquy-controls-auto, .soliloquy-container .soliloquy-pager {
		display: block !important;
	}

}

@media only screen and (max-width: 599px) {
  .teamhalf,
  #contside article {
  width: 100%;
}

  #teamhalfree,
  #contside article  {
    margin-right: 0; 
  }
}

@media only screen and (max-width: 528px) {
  
  .header-widget .social-icons {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  margin-left: 8px;
	}
	
	.header-widget .widget.widget_text {
    margin-top: 3px;
	}

}



@media only screen and (max-width:480px) {
  
  .header-widget .widget_text {
	float: left;
	margin: 10px 0 0 0;
	}

	.header-widget .social-icons {
  	margin-left: 6px;
	}
	
	#homeheaderleft,
	#adventslider {
		max-width: 100%;
		width: 100%;
		margin: 8px 0 12px 0;
	}
	
		#homeheaderright {
			margin: 0;
		}
		
		.three-col-left #main-sidebar-container #main,
		.three-col-left #main-sidebar-container #sidebar,
		#sidebar-alt {
    	border-top: 2px solid #ff0093;
		}
		
		.three-col-left .post img.woo-image,
		#main li.reallyhot img {
    	margin-bottom: 5px;
    	width: 100%;
		}
		
		#sidebar-alt {
			clear: both;
		}
		
		#sidebaraltleft {
			width: 65.7142%;
			float: left;
		}
		
		#sidebaraltright {
			width: 31.4285%;
			float: right;
			padding-top: 1em;
		}
		
#homeheaderleft .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title, 
#homeheaderleft .soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title-link,
#adventslider .soliloquy-theme-classic .soliloquy-caption .soliloquy-fc-caption .soliloquy-fc-title,
#adventslider .soliloquy-theme-classic .soliloquy-caption .soliloquy-fc-caption .soliloquy-fc-title a  {
    	font-size: 14px !important;
	}
	
	#homeheaderleft .soliloquy-fc-slider .soliloquy-caption,
	#adventslider .soliloquy-fc-slider .soliloquy-caption {
    bottom: 10.5% !important;
}
	
	#sidebaraltleft h3.title {
		padding-top: 10px;
	}
	
	.three-col-left.single #main-sidebar-container #main,
  .three-col-left.single #main-sidebar-container #sidebar {
    width: 100%;
	}
	
	#sidebar-alt .widget_baba ul {
    margin-top: 85px;
	}
	
	#sidebar-alt .widget_wmpoe_widget li h3 {
		font-size: 14px;
	}
	
	#sidebar-alt .widget_wmpoe_widget.widget ul li a {
		line-height: 18px;
	}
	
	.wpuf-post-form input[type="text"] {
		width: 50%;
	}
	
	#homeheaderleft .soliloquy-theme-classic .soliloquy-prev,
  #homeheaderleft .soliloquy-theme-classic .soliloquy-next,
  #adventslider .soliloquy-theme-classic .soliloquy-prev,
  #adventslider .soliloquy-theme-classic .soliloquy-next  {
	   top: 40% !important;
  }
  
  #reallyshop,
  #reallyrating {
  	width: 96%;
  }
  
  ul.reallyrated {
  	margin-top: 30px;
  }
  
  li.postgrid {
		width: 100%;
		margin-right: 0;
		margin-bottom: 37px;
	}
	
	li.postgrid h3.onpost {
		font-size: 20px;
	}
  
  .teammember {
    width: 40%;
  }
  
  .teamtext,
  .teamcontact {
	 margin-left: 44.615%;
	}
	
	.pipe {
		font-size: 24px;
	}
}

@media only screen and (max-width:439px) {
		
	.fblikes,
	.header-widget .social-icons {
    margin-left: 5px !important;
	}
}

@media only screen and (max-width:419px) {
		
	.fblikes,
	.header-widget .social-icons {
    margin-left: 3px !important;
	}
}

@media only screen and (max-width:402px) {

    .header-widget .social-icons {
  width: 23px;
  height: 23px;
  background-size: 23px 23px;
	}
}

@media only screen and (max-width:387px) {

  .header-widget .social-icons {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
	}
	
	.fblikes,
	.header-widget .social-icons {
    margin-left: 2px !important;
	}
}

@media only screen and (max-width: 375px) {
  
  .header-widget .widget.widget_text {
    float: right;
    margin: 10px 0;
}

.header-widget .social-icons {
  	width: 32px;
  	height: 32px;
  	background-size: 32px 32px;
	}
	
	.fblikes,
	.header-widget .social-icons {
    margin-left: 8px !important;
	}
  
  .header-widget {
    margin-top: 0;
  }
  
  .a-tab-content {
  	width: 100% !important;
	}
	
	.wpautbox-socials {
  	float: left;
	}
	
	#sidebar h3, #sidebar-alt h3, h1.archive_header, .page h3,
	h2#hometitle, #post-author,
	li.postgrid h3.onpost {
		font-size: 14px;
	}
	
	#main-sidebar-container #sidebar .widget_baba ul {
    margin-top: 85px;
	}
	
	.date {
  	float: none;
	}
	
	h3.related_post_title {
 		font-size: 24px;
	}
	
	.wp-tabbed-tabs .wp-tabbed-nav li {
		min-width: 19.9% !important;
	}
}

@media only screen and (max-width: 360px) {

	#sidebar-alt .widget_baba ul {
    margin-top: 75px;
	}
	
	.two-col-left h1.entry-title, h1.archive_header .fl {
	 line-height: 0.9em;
	}
	
		.wp-tabbed-tabs .wp-tabbed-nav li {
		min-width: 19.6% !important;
	}

@media only screen and (max-width: 320px) {

		.wp-tabbed-tabs .wp-tabbed-nav li {
		min-width: 19% !important;
	}
	
	.pipe {
		font-size: 20px;
	}

}