/**
 * @license
 * MyFonts Webfont Build ID 3186082, 2016-03-14T10:09:46-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: GuadalupeProGota-Italic by Latinotype
 * URL: http://www.myfonts.com/fonts/latinotype/guadalupe/pro-gota-italic/
 * Copyright: Copyright (c) 2011 by Daniel Hern&#x0087;ndez. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3186082
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/309da2");

  
@font-face {font-family: 'GuadalupeProGota-Italic';src: url('webfonts/309DA2_0_0.eot');src: url('webfonts/309DA2_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/309DA2_0_0.woff2') format('woff2'),url('webfonts/309DA2_0_0.woff') format('woff'),url('webfonts/309DA2_0_0.ttf') format('truetype');}
 