/*
 Theme Name:     Really Ree
 Theme URI:      http://www.reallyree.com
 Description:    REally Ree Child Theme
 Author:         Joel Kriteman
 Author URI:     http://www.carciofino.com
 Template:       canvas
 Version:        1.0.0
*/

@import url("../canvas/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

.woo-pagination2 {
  margin: 0 0 2em;
  text-align: center;
  clear: both;
  display: block;
}
.woo-pagination2 a:link,
.woo-pagination2 a:visited,
.nav-entries a span {
  display: inline;
  text-decoration: none;
  color: #666;
  padding: 3px 7px;
  border: 1px solid #DDDDDD;
}
.nav-entries a {
  font-size: 1.2em;
}
.woo-pagination2 span.extend,
.woo-pagination2 .page-numbers {
  border: none;
  color: #666;
}
.woo-pagination2 a:link,
.woo-pagination2 a:visited,
.woo-pagination2 a:active,
.nav-entries a span {
  /* Border Radius */

  font-weight: bold;
  font-size: 0.9em;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: -webkit-linear-gradient(#ffffff, #f5f5f5);
  background: -moz-linear-gradient(center top, #ffffff 0%, #f5f5f5 100%);
  background: -moz-gradient(center top, #ffffff 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f5f5f5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#f5f5f5)";
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
}
.woo-pagination2 span.current {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 0.9em;
}
.woo-pagination2 a:link,
.woo-pagination2 a:visited,
.woo-pagination2 a:active {
  border: none;
  background: #f0f0f0;
}
.woo-pagination2 .current,
.woo-pagination2 a:hover {
  padding: 3px 7px;
  background: #e0e0e0;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.custom-login { 
				width: 370px; overflow: hidden; margin: 50px auto; padding: 10px;
				color: #333; font-size: 12px; line-height: 16px; 
				}
			ul.tabs_login { float: left; margin: 0; padding: 0; list-style-type: none; }
			ul.tabs_login li { float: left; overflow: hidden; margin: 0 5px 0 0; padding: 0; background-color: #fff; }
			ul.tabs_login li a { 
				height: 30px; display: block; padding: 0 15px; line-height: 30px; 
				text-decoration: none; color: #777; background-color: #ccc;
				}
			ul.tabs_login li a:hover { color: #999; background-color: #efefef; }
			ul.tabs_login li.active_login a { font-weight: bold; color: #333; background-color: #fff; }

			.tab_container_login { width: 100%; float: left; margin: 0 0 20px 0; background-color: #fff; }
			.tab_content_login { padding: 20px; box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.7); }

			.custom-login h3 { margin: 0 0 10px 0; border: 0 none; font-size: 14px; line-height: 14px; }
			.custom-login p { margin: 20px 0; }

			.username, .password, .login_fields { width: 100%; overflow: hidden; margin: 7px 0 0 0; padding: 3px 0; }
			.username label, .password label { width: 80px; float: left; margin: 6px 0 0 0; color: #777; }
			.username label { margin: 0; }
			.username input, .password input { 
				font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; 
				float: left; width: 200px; margin: 0; padding: 3px 7px; color: #777;
				}
			.rememberme { float: right; margin: 0 20px 0 0; color: #777; font-size: 11px; }
			#rememberme { float: left; margin: 2px 7px 0 0; }
			.user-submit { float: left; margin: 0; }

			.user-logged-in { 
				width: 330px; overflow: hidden; padding: 20px; color: #333; background-color: #fff; 
				box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.7); 
				}
			.user-info { float: left; width: 240px; }
			.user-info p { margin: 10px 0; }
			.user-info p:last-child { color: #777; }
			.user-info a { color: #777; text-decoration: none; }
			.user-info a:hover { color: #999; text-decoration: underline; }
			.user-icon { float: left; width: 80px; }
			.user-icon img { width: 60px; height: 60px; box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.7); }
			
			/* CSS for custom related post output. [START] - DON'T DELETE */
.moi_rpp_1_0 {
	overflow: hidden;
	margin-bottom: 20px;
}

.moi_rpp_1_0_img {
	float: left;
	width: 43%;
}

.moi_rpp_1_0_title {
	float: right;
	width: 55%;
	font-size: 22px;
	color:#FF0095;
	line-height: 22px;
}

.moi_rpp_1_0_title a, .moi_rpp_2_1_title a, .moi_rpp_2_2 a, .moi_rpp_2_3 a{
	color:#FF0095;	
}

.moi_rpp_2_1 {
	width: 43%;
	float: left;
}

.moi_rpp_2_2 {
	width: 27%;
	float: left;
	margin: 0 1.5%;
}

.moi_rpp_2_3 {
	width: 27%;
	float: left;
}

.moi_rpp_2_small_title {
	font-size: 13px;
	line-height: 13px;
	margin: 5px 0px;
}

.moi_rpp_2_1_excerpt, .moi_rpp_2_small_excerpt{
	font-size: 12px;
	line-height: 13px;
	text-align: left;
}

.moi_rpp_2_1_title{
	line-height:16px;
	margin:5px 0;
}

.moi_rpp_2_1_title a:hover, .moi_rpp_2_small_title a:hover, .moi_rpp_1_0_title a:hover {
	color: #888;
}

.moi_rpp_2_1_excerpt {
	margin-right: 20px;
	margin-top: 20px;
}

.single .entry .moi_rpp_1_0_excerpt img {
	margin: 10px 0px 0px 15px;
	width: 10% !important;
}

.moi_rpp_2_small_excerpt img {
	margin: 10px 0 0 5px;
}

.single .entry .moi_rpp_2_1_excerpt img,
.single .entry .moi_rpp_2_0_excerpt img {
		width: 40% !important;
}

h2.more_real {
color: #FF0095;
margin: 0;
font-size: 32px;
margin-bottom: 0;
}

.yarpp-related {
	border-top: 2px solid #ff0095;
	padding-top: 5px;
}

@media only screen 
and (max-width : 768px) {

	.moi_rpp_2_1_excerpt, .moi_rpp_2_small_excerpt {
    font-size: 10px;
	}
}

/* CSS for custom related post output. - [END] */

